// * insert background color override * //

button.btn.no-text.btn-icon.composer_insert_button svg.fa.d-icon.d-icon-highlighter {
    /* border-bottom: 2px solid var(--primary-medium) !important; */   
}

button.btn.no-text.btn-icon.composer_insert_button:after {
  position: absolute;
  content: "__";
  color: var(--primary-medium);
  padding-bottom: 15px;
}

@if $insert_background_color_override !="" {

  button.btn.no-text.btn-icon.composer_insert_button {
    color: $insert_background_color_override;
  }

  .cooked,
  .d-editor-preview {
    ins {
      background-color: $insert_background_color_override;
      border-radius: 3px;
      outline: 2px solid $insert_background_color_override;
    }
  }
}

@else {

  button.btn.no-text.btn-icon.composer_insert_button {
    color: var(--success-low) !important;
  }
 
  .cooked,
  .d-editor-preview {
    ins {
      background-color: var(--success-low);
      border-radius: 3px;
      outline: 2px solid var(--success-low);
    }
  }
}

// * insert text color override * //

@if $insert_text_color_override !="" {

  .cooked,
  .d-editor-preview {
    ins {
      color: $insert_text_color_override;
    }
  }
}

@else {

  .cooked,
  .d-editor-preview {
    ins {
      color: var(--color);
    }
  }
}
