// * inserted background color override * //

button.btn.no-text.btn-icon.composer_inserted_button:after {
  position: absolute;
  content: "__";
  color: var(--primary-medium);
  /* padding-bottom: 15px; */
}

@if $inserted_background_color_override !="" {

  button.btn.no-text.btn-icon.composer_insert_button {
    color: $inserted_background_color_override;
  }

  .cooked,
  .d-editor-preview {
    ins {
      background-color: $inserted_background_color_override;
      border-radius: 3px;
      outline: 2px solid $inserted_background_color_override;
    }
  }
}

@else {

  button.btn.no-text.btn-icon.composer_inserted_button {
    color: var(--success-low) !important;
  }
 
  .cooked,
  .d-editor-preview {
    ins {
      background-color: var(--success-low);
      border-radius: 3px;
      outline: 2px solid var(--success-low);
    }
  }
}

// * inserted text color override * //

@if $inserted_text_color_override !="" {

  .cooked,
  .d-editor-preview {
    ins {
      color: $inserted_text_color_override;
    }
  }
}

@else {

  .cooked,
  .d-editor-preview {
    ins {
      color: var(--color);
    }
  }
}
