// * insert button icon color override * //
/*
.d-editor-button-bar .btn .d-icon,
.d-editor-button-bar .btn .d-icon:hover,
.btn.ok .d-icon, .btn.ok .d-icon:hover,
*/

.d-editor-button-bar button.btn.no-text.btn-icon.composer_insert_button svg.fa .d-icon .d-icon-highlighter .svg-icon .svg-string {
 color: var(--success-low) !important;
}



// * insert background color override * //

@if $insert_background_color_override !="" {

  .cooked,
  .d-editor-preview {
    ins {
      background-color: $insert_background_color_override;
      border-radius: 3px;
      outline: 2px solid $insert_background_color_override;
    }
  }
}

@else {

  .cooked,
  .d-editor-preview {
    ins {
      background-color: var(--success-low);
      border-radius: 3px;
      outline: 2px solid var(--success-low);
    }
  }
}

// * insert text color override * //

@if $insert_text_color_override !="" {

  .cooked,
  .d-editor-preview {
    ins {
      color: $insert_text_color_override;
    }
  }
}

@else {

  .cooked,
  .d-editor-preview {
    ins {
      color: var(--color);
    }
  }
}
